 
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}
/* Header*/
header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1F2937;
    padding: 0;
}
header .navbar {
    display: flex;
    font-size: 18px;
    margin: 10px 0;
}
header .navbar li {
    list-style: none;
    margin: 0 10px;
}
header .navbar li a {
    text-decoration: none;
    color: #E5E7EB;
}
header .navbar li a:hover {
    color: orangered;
}

.header-logo {
    height: 44px;
    width: 44px;
    align-items: center;
    margin-left: 2px;
}

/* Banner section */
.banner {
    display: flex;
    background-color: #1F2937;
    min-height: 70vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    gap: 50px;
}

.banner .content {
    max-width: 700px;
    flex: 1;
    margin: auto;
    margin-top: auto;
    margin-left: 20px;
    padding: 0;
    
}
.banner .content h2 {
    color: #f9faf8;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.banner .content p {
    color: #E5E7EB;
    font-size: 18px;
}
.banner .content a {
    display: inline-block;
    background: blue;
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 13%;
    border-color: blue;
    margin-left: 35px;
}
.banner .header-image {
    max-width: 400px;
    margin: auto;
    margin-right: 20px;
    margin-top: auto;
}

/* Body content */
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-content .species {
    display: flex;
    margin: 16px;
}
h3 {
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 50px;
}

/* Body content Quote */
.quote {
    display: flex;
    background-color: #E5E7EB;
    margin-top: 100px;
    padding: 30px;
}
.quote .paragraph {
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.quote .Author {
    font-weight: bold;
    text-align: right;
}

/* Call to action */
.call2-action {
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
.call2-action .question {
    font-weight: bolder;
}
.call2-action .answer {
color: silver;
}
.call2-action .call-button a {
    padding: 4px;
    margin: auto;
    border-radius: 10%;
    color: #E5E7EB;
    text-align: center;
    background-color: #3882F6;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
}
footer {
    background-color: #1F2937;
    width: 100%;
    padding: 8px;
}
footer p {
    text-align: start;
    color: white;

}