body {
    font-family: 'Times New Roman', Times, serif;
}
/* Main header */
.header1  {
display: flex;
background-color: #1F2937;
}

.p-1 {
    font-size: 24px;
    color: #f9faf8;
}

.p-1 .img-1 {
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* Main header links */
 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #1F2937;
    flex: 1;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    display: flex;
    color: #E5E7EB;
}

.header2 {
    display: flex;
    background-color: #1F2937;
}
.header {
    flex: 1;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.h-2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.p-2 {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.sign-up {
    background-color: blue;
    color: white;
    border-color: blue;
    border-style: solid;
    border-radius: 10%;
    padding: 4px;
    margin-top: 8px;
}